body {
  margin: 10px 150px;
  /* width: 980px; */
}

h1 {
  border-width: 5px;
  border: dashed blue;
}

h3 {
  color: gray;
}

span {
  display: inline-block;
}

nav {
  margin-top: 10px;
  float: right;
}

#print {
  display: inline-block
}



